doctype html
html
  head
    title cdphanzi custom ideographic description characters
  body
    canvas#canvas(width='600' height='60')
    script(src='./bower_components/opentype.js/opentype.js')
    script(src='./main.js')
